@import '~tailwindcss/dist/base.css';
@import '~tailwindcss/dist/components.css';
@import '~tailwindcss/dist/utilities.css';

html,
body,
#__next,
.main {
  max-height: 100vh;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.channel-list {
  li a:before {
    content: '# ';
    opacity: 0.5;
  }
  li a:hover {
    opacity: 0.9;
  }
}
.Messages {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1A202C; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #38b2ac; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c7a7b; 
}
#msg:hover #toolbar {
    display: block;
}

#toolbar {
    display: none;
    position: absolute;
    right: 10%;
}
